<!DOCTYPE html>
<html>
  <head>
    <title>graphql demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="page-container">
      <div style="width: 1012px; margin-left: auto; margin-right: auto" id="main-content-wrapper"><!-- react root div, its child is to be replaced by react app,  -->
	      <div class="loaderWrapper">
		      Loading <span class="progress-value"></span>
		      <div class="loaderbar">
			      <div class="progress"></div>
		      </div>
	      </div>
      </div>
    </div>
    <script src="/build/graphql-demo.js"></script>
  </body>
</html>
